@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}
body {
  background: hsl(185, 41%, 84%);
  margin: 0;
  font-family: 'Space Mono', monospace;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 3fr 1fr;
}
body > * {
  grid-column: 2;
}
.header {
  margin: 150px 0 75px;
  text-align: center;
}
.main {
  background: #ffffff;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  padding: 35px;
}
/* Calculator section */
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
fieldset legend {
  padding: 0;
}
.calculator {
  color: hsl(186, 14%, 43%);
  font-weight: 700;
}
.calculator__input-block {
  position: relative;
  margin-top: 5px;
}
.calculator__input-icon-block {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  left: 15px;
}
.calculator__input {
  border-radius: 5px;
  border: none;
  background: hsl(189, 41%, 97%);
  text-align: right;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-size: 24px;
  color: hsl(183, 100%, 15%);
  padding: 0;
  cursor: pointer;
  width: 100%;
}
.calculator__input:focus {
  outline: 2px solid hsl(172, 67%, 45%);
}

.calculator__bill-section {
  margin-bottom: 25px;
}
.calculator__people-section {
  margin-top: 25px;
}
.calcultor__tip__title {
  margin-bottom: 10px;
}
.calcultor__tip__buttons {
  display: grid;
  grid-template-columns: repeat(3, minmax(110px, 1fr));
  grid-gap: 10px;
}
.calcultor__tip__button {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.calcultor__tip__button > * {
  grid-column: 1;
  grid-row: 1;
}
.calcultor__tip__button__label {
  background-color: hsl(183, 100%, 15%);
  border-radius: 5px;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  z-index: 2;
  cursor: pointer;
  padding: 5px 0;
}
.calcultor__tip__button__label.checked {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}
.calcultor__tip__button__label:hover {
  background: hsl(172, 49%, 66%);
  color: hsl(183, 100%, 15%);
}
.custom__label {
  position: absolute;
  left: -100vw;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.custom__input {
  width: 100%;
  border: none;
  border-radius: 5px;
  background: hsl(189, 41%, 97%);
  color: hsl(186, 14%, 43%);
  font-size: 24px;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  text-align: center;
  padding: 0;
  cursor: pointer;
}
.custom__input:focus {
  outline: 2px solid hsl(172, 67%, 45%);
  text-align: right;
  padding-right: 10px;
}
/* Results section */
.results {
  background-color: hsl(183, 100%, 15%);
  border-radius: 10px;
  padding: 25px;
  color: #ffffff;
  display: grid;
  grid-template-rows: auto auto 1fr;
}
.results__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.results__block:first-of-type {
  margin-bottom: 15px;
}
.results__sentence {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  margin: 0;
}
.results__sentence__per-person {
  color: hsl(184, 14%, 56%);
  font-size: 12px;
}
.results__number {
  color: hsl(172, 67%, 45%);
  font-size: 40px;
  font-weight: 700;
  margin: 0;
}
.results__button:disabled {
  background: hsl(183, 100%, 20%);
  cursor: unset;
}
.results__button {
  align-self: end;
  background: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  border: none;
  border-radius: 5px;
  padding: 10px 0;
  text-transform: uppercase;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}
.results__button:hover,
.results__button:focus {
  background: hsl(172, 100%, 79%);
  cursor: pointer;
}
.results__button:disabled {
  background: hsl(183, 100%, 20%);
  cursor: unset;
}
/* Attribution section */
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 50px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media all and (max-width: 1280px) {
  body {
    grid-template-columns: 150px 1fr 150px;
  }
}
@media all and (max-width: 1080px) {
  body {
    grid-template-columns: 50px 1fr 50px;
  }
}
@media all and (max-width: 870px) {
  body {
    display: block;
  }
  .header {
    margin: 50px 0 35px;
  }
  .main {
    display: block;
    margin: 0 25px;
  }
  .calcultor__tip__buttons {
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  }
  .calculator__people-section {
    margin-bottom: 25px;
  }
  .results__number {
    font-size: 34px;
  }
  .results__button {
    margin-top: 30px;
  }
}
@media all and (max-width: 535px) {
  .main {
    margin: 0;
  }
}
